rvm:
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - 2.6
  - ruby-head

script:
  - bundle exec rspec

sudo: false

matrix:
  allow_failures:
    - rvm: ruby-head

notifications:
  email: 
    - '0x1eef@protonmail.com'

branches:
  only:
    - master
